[user]
	name = Joseph Bass
	email = jab416171@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = vim
[alias]
	st = status
	c = commit
	br = branch
	co = checkout
	df = diff
	lg = log --graph --pretty=format:'%Cred%h%Creset | %an | %cn | -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	psuh = push
	unstage = reset HEAD
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep ^[a-z]
 	resetorigin = !git checkout master && git branch | grep -v master | xargs git branch -D && git fetch origin && git reset --hard origin/master && git clean -f -d
	pushnotes = !git checkout refs/notes/codereview && git fetch origin refs/notes/codereview && git merge FETCH_HEAD && git update-ref refs/notes/codereview HEAD && git checkout - && git push origin refs/notes/*
	updatefork = !git fetch upstream && git merge --ff-only upstream/master master
[merge]
	conflictstyle = diff3
	ff = no
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = current
[github]
	user = jab416171
[hooks]
	mailinglist = josephbass@attask.com
