*
!.bash_aliases
!.bash_functions
!.bash_setup_ps1
!.gitconfig
!.gitignore_global
!.gitignore
!.profile_ssh_stuff
!.liquidpromptrc
!.vimrc
!.zshrc
!.tmux.conf
!README.md
!mcabberrc
!ssh_config.txt
!bin/
